h1 {
  padding-top: 10px;
  font-size: 55px;
  color: beige;
  font-family: "Dosis", sans-serif;
  text-align: left;
}

p,
.mb-3,
.mb-0 {
  color: beige;
  text-align: center;
  font-size: 18px;
}

#temp-celcious,
#temp-farenheit,
#separator {
  font-size: 22px;
  position: relative;
  top: -36px;
  font-weight: bolder;
}

#current-temp,
#temp-celcious,
#temp-farenheit,
#separator {
  color: beige;
  text-align: left;
}

#current-temp {
  padding-left: 25px;
}

#city-info,
#weather-description {
  text-transform: capitalize;
}

ul {
  list-style-type: none;
}

#wind-speed,
#weather-description,
#current-hmidity,
#day-info,
#city-info,
#time-info {
  color: beige;
  font-size: 20px;
}

#wind-speed,
#weather-description,
#current-hmidity {
  text-align: right;
  padding-right: 30px;
}

#forecast-list {
  text-align: right;
}

#current-day {
  padding-top: 5px;
  padding-right: 15px;
}

.fa-search,
#icon-delimiter {
  color: beige;
  width: auto;
  height: auto;
}

#first-row {
  padding-top: 25px;
}

.mb-4 {
  background: rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  padding-right: 5px;
}

body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/026/252/original/5797334.jpg?1643809928");
  image-resolution: fixed;
  width: auto;
  height: auto;
  background-size: cover;
}

.carousel-indicators li {
  background-color: #282828;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.coder {
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  font-size: 15px;
  color: antiquewhite;
  text-align: center;
}
.coderName {
  font-family: "Caveat", cursive;
  font-size: 21px;
  color: antiquewhite;
}

.kat {
  width: 25px;
  padding-bottom: 5px;
}

#general-footer {
  padding-left: 12px;
}

#footer-adjustment {
  background: rgba(0, 0, 0, 0.5);
}
